out
node_modules
target/

dependency-reduced-pom.xml
classpath.txt
test-classpath.txt
docpath.txt
LOG_FILE_IS_UNDEFINED

*.log
*.log.*
LOG_FILE_IS_UNDEFINED
.idea
*.iml
*.vsix
.DS_store

.settings
.classpath
.factorypath
.project
.flattened-pom.xml

pom.xml.versionsBackup

core.*
heapdump.*
javacore.*
Snap.*